<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test01"
        tools:targetApi="31">
        <activity
            android:name=".TaskStatus"
            android:exported="false" />
        <activity
            android:name=".GarageDashBoard"
            android:exported="false" />
        <activity
            android:name=".UserViewGarage"
            android:exported="false" />
        <activity
            android:name=".PastRecordeGarage"
            android:exported="false" />
        <activity
            android:name=".TaskGarage"
            android:exported="false" />
        <activity
            android:name=".RequestsGarage"
            android:exported="false" />
        <activity
            android:name=".InformationFormGarage"
            android:exported="false" />
        <activity
            android:name=".PastRecordsGarage"
            android:exported="false" />
        <activity
            android:name=".RequestFormGarage"
            android:exported="false" />
        <activity
            android:name=".RequestFromUser"
            android:exported="false" />
        <activity
            android:name=".PasswordResetGarage"
            android:exported="false" />
        <activity
            android:name=".PasswordResetUser"
            android:exported="false" />
        <activity
            android:name=".UpdateGarageProfile"
            android:exported="false" />
        <activity
            android:name=".UpdateUserProfile"
            android:exported="false" />
        <activity
            android:name=".GarageSignUp"
            android:exported="false" />
        <activity
            android:name=".UserSignUp"
            android:exported="false" />
        <activity
            android:name=".GarageLogin"
            android:exported="false" />
        <activity
            android:name=".UserLogin"
            android:exported="false" />
        <activity
            android:name=".History"
            android:exported="false" />
        <activity
            android:name=".Emergency"
            android:exported="false" />
        <activity
            android:name=".BottomNavigation"
            android:exported="false"
            android:label="@string/title_activity_bottom_navigation" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>